initial-project/src/main/mule/router.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
	http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
    http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

	<apikit:config name="api-config" raml="api.raml"
		outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

	<flow name="api-main">
		<http:listener path="${api.base}/${api.semantic.version}/*" doc:name="Listener" config-ref="api-httpListenerConfig">
			<http:response statusCode="#[vars.httpStatus default 200]"
				reasonPhrase="#[vars.httpReason]" >
				<http:headers><![CDATA[#[output application/java
---
{
	"x-transaction-id" : vars.transactionProperties.'x-transaction-id'
}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" reasonPhrase='#[vars.httpReason]'>
				<http:body><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>

		<apikit:router doc:name="APIkit Router" config-ref="api-config"/>

	</flow>

</mule>
